<div class="container mt-3">
    <div class="row">
        <div class="card">
            <img src="https://via.placeholder.com/375x375.png?text=%5b+Not+Available+%5d" class="card-img-top" alt="error404" style="height: 600px;">
            <div class="card-body">
              <h5 class="card-title text-center">{{post?.title}}</h5>
              <p class="card-text"><strong>Body: </strong>{{post?.author}}</p>
              <a href="#" class="btn btn-primary text" (click)="goBack()">Back to home</a>
            </div>
        </div>
    </div>
</div>

